## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head(10)

,City_id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ginda,IN,2021-12-05 08:07:34,30.6945,78.4932,63.01,37,30,7.14,scattered clouds
1,1,Sao Joao Do Piaui,BR,2021-12-05 08:07:35,-8.3581,-42.2467,72.18,89,71,5.39,broken clouds
2,2,Trofors,NO,2021-12-05 08:07:37,65.5333,13.4063,20.55,92,7,5.37,clear sky
3,3,Kruisfontein,ZA,2021-12-05 08:02:01,-34.0033,24.7314,64.29,96,100,6.20,light rain
4,4,Albany,US,2021-12-05 08:07:42,42.6001,-73.9662,35.55,78,88,5.91,overcast clouds
5,5,Vaini,TO,2021-12-05 08:07:44,-21.2000,-175.2000,78.96,83,40,8.05,scattered clouds
6,6,Solnechnyy,RU,2021-12-05 07:58:09,50.7214,136.6319,7.23,93,99,4.94,overcast clouds
7,7,Ushuaia,AR,2021-12-05 08:07:47,-54.8000,-68.3000,44.26,76,40,14.97,light rain
8,8,Souillac,MU,2021-12-05 07:59:13,-20.5167,57.5167,84.58,61,20,11.50,few clouds
9,9,Sehithwa,BW,2021-12-05 08:07:49,-20.4667,22.7167,78.12,57,100,5.48,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
enter_minimum_temperature = int(input('What is the minimum temperature you want in your trip?'))
enter_maximum_temperature = int(input('What is the maximum temperature you want in your trip?'))

What is the minimum temperature you want in your trip?75
What is the maximum temperature you want in your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= enter_maximum_temperature) & \
                                       (city_data_df["Max Temp"] >= enter_minimum_temperature)]
preferred_cities_df.head(10)

,City_id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Vaini,TO,2021-12-05 08:07:44,-21.2000,-175.2000,78.96,83,40,8.05,scattered clouds
8,8,Souillac,MU,2021-12-05 07:59:13,-20.5167,57.5167,84.58,61,20,11.50,few clouds
9,9,Sehithwa,BW,2021-12-05 08:07:49,-20.4667,22.7167,78.12,57,100,5.48,overcast clouds
11,11,Yarada,IN,2021-12-05 08:07:52,17.6500,83.2667,84.52,65,75,4.61,broken clouds
13,13,La Romana,DO,2021-12-05 08:07:56,18.4273,-68.9728,76.73,92,8,9.64,clear sky
21,21,Rikitea,PF,2021-12-05 08:08:08,-23.1203,-134.9692,75.63,78,97,9.15,overcast clouds
23,23,Mahebourg,MU,2021-12-05 08:08:11,-20.4081,57.7000,84.25,67,16,13.18,few clouds
25,25,Tezu,IN,2021-12-05 08:08:14,27.9167,96.1667,81.39,34,6,2.77,clear sky
27,27,Busselton,AU,2021-12-05 08:04:06,-33.6500,115.3333,85.08,40,72,21.09,broken clouds
28,28,Kupang,ID,2021-12-05 07:59:44,-10.1667,123.5833,79.38,83,75,3.44,thunderstorm

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_id                0
City                   0
Country                6
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_id                183
City                   183
Country                183
Date                   183
Lat                    183
Lng                    183
Max Temp               183
Humidity               183
Cloudiness             183
Wind Speed             183
Current Description    183
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,
8,Souillac,MU,84.58,few clouds,-20.5167,57.5167,
9,Sehithwa,BW,78.12,overcast clouds,-20.4667,22.7167,
11,Yarada,IN,84.52,broken clouds,17.6500,83.2667,
13,La Romana,DO,76.73,clear sky,18.4273,-68.9728,
21,Rikitea,PF,75.63,overcast clouds,-23.1203,-134.9692,
23,Mahebourg,MU,84.25,few clouds,-20.4081,57.7000,
25,Tezu,IN,81.39,clear sky,27.9167,96.1667,
27,Busselton,AU,85.08,broken clouds,-33.6500,115.3333,
28,Kupang,ID,79.38,thunderstorm,-10.1667,123.5833,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params['location'] = f'{lat},{lng}'
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Match Found")
    except (IndexError):
        print("Hotel not found... skipping.")

Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found

In [21]:
hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
677,Mangrol,IN,81.79,clear sky,21.1167,70.1167,Hotel The Royal Honours
678,Touros,BR,79.70,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
680,Fomboni,KM,81.95,light rain,-12.2800,43.7425,Auberge les abou
683,Isangel,VU,76.98,broken clouds,-19.5500,169.2667,Tanna Lodge
690,Labuan,MY,88.16,few clouds,5.2767,115.2417,Tiara Labuan Hotel

In [22]:
hotel_df.count()

City                   183
Country                183
Max Temp               183
Current Description    183
Lat                    183
Lng                    183
Hotel Name             183
dtype: int64

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df['Hotel Name']!="")]
clean_hotel_df.count()

City                   168
Country                168
Max Temp               168
Current Description    168
Lat                    168
Lng                    168
Hotel Name             168
dtype: int64

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "..//Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

In [26]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [28]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))